
body {
    background-color: #f0f0f0;
    color: #444;
}
.matrix {
    display:inline-grid;
    grid-template-areas:"a a a" "b c d";
    grid-template-columns:1ch auto 1ch;
    gap:2ch .25ch
}
.matrix:before,
.matrix:after {
    content:"";
    font-size:.5rem;
    border:1px solid #140f0a;
}
.matrix:before {
    border-right:none
}
.matrix:after {
    border-left:none
}
.matrix-label {
    grid-area:a;
    font-size:.75rem;
    font-weight:325;
    color:#050403
}
.matrix-elements {
    padding:.75ch .5ch;
    display:grid;
    place-items:center;
    grid-auto-flow:column;
    gap:.5ch .75ch
}
.limit-dp {
    min-width:5ch
}