@charset "utf-8";
/* fira-sans-200 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 200;
    src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'),
    url('../fonts/fira-sans-v8-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fira-sans-v8-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: fallback;
  }
  
  /* fira-sans-regular - latin */
  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
    url('../fonts/fira-sans-v8-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fira-sans-v8-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* latin modern math */
  @font-face {
    font-family: 'Latin Modern Math';
    src: url('LatinModernMath-Regular.woff2') format('woff2'),
        url('LatinModernMath-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
#MathJax_Hidden{
    height: 0px;
}
.big {
    font-size:1.875rem;
    font-weight:250
}
   
.matrix-equation {
    width: 95px;
    height: 200px;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    position:relative;
    /* background-color:rgb(255, 255, 255); */
    background-color: transparent;
    padding: 2px;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    overflow-x: visible; 
    gap:0.3em;
    font-size:0.5089rem;
    font-weight:625;
    color:#000000;
    z-index: 1;
}
#matrices-2d{
    width:fit-content;
    position:relative;
    align-items:center;
    display: inline-flex;
    margin-top: 200px;
    margin-bottom: 200px;
}
.matrix-equation>span {
    position:relative;
    top:1.4rem
}

.matrix {
text-align: center;
 display:inline-grid;
 grid-template-areas:"a a a" "b c d";
 grid-template-columns:1ch auto 1ch;
 gap:2ch .75ch
}

.matrix:before,
.matrix:after {
 content:"";
 font-size:.5rem;
 border:1px solid #000000
}
.matrix:before {
 border-right:none
}
.matrix:after {
 border-left:none
}
.matrix-label {
 grid-area:a;
 font-size:.75rem;
 font-weight:325;
 color:#000000
}
.matrix-elements {
 padding:.75ch .75ch;
 display:grid;
 place-items:center;
 grid-auto-flow:column;
 gap:.5ch 3ch
}
.limit-dp {
 min-width:2ch
}
* {
 -webkit-font-smoothing:subpixel-antialiased;
 box-sizing:border-box;
 -o-box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 margin:0;
 padding:0
}

.matrix .elem-3d {
display: none;
}

.matrix .elem-4d {
    display: none;
}


body {
 background-color: var(--body-color);
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2;
  font-size: 16px;
  color: var(--text-color);
  overflow-x:hidden;
}

p {
    line-height: 32px;   /* within paragraph */
    margin-bottom: 30px; /* between paragraphs */
}

.slidecontainer p {

    line-height: 32px;   
    margin-bottom: 10px; 
}

h3 {
    font-weight: 300;
    margin: 0;
    height: 29px;
}

h1 {
    font-weight: 300;
    padding: 15px 0;
    margin: 10px 0 20px 0;
    font-size: 150%;
  }
  
.matrices-3d {
    display: none;
}

#content {
    overflow:auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    float: left;
    width: 46%;
    height: 600px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#content::-webkit-scrollbar {
    display: none;
}

#demos {
    overflow:auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    float: right;
    width: 50%;
    height: 600px;
}
#shear-2d-cross-section-canvas{
    width: fit-content;
}
#shear-3d-canvas{
    width: fit-content;
}
#projective-line-canvas{
    width: fit-content;
}
#projective-plane-canvas{
    width: fit-content;
}
#screen-canvas{
    width: fit-content;
}
#orthographic-projection-canvas{
    width: fit-content;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#demos::-webkit-scrollbar {
    display: none;
}
/*#sidebar {
    float: left;
} */
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.btn{
    position: absolute;
    left: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}
.btn.click{
    left: 15%;
}
.btn span{
    color: white;
    font-size: 28px;
    line-height: 45px;
}
.btn.click span:before{
    content: '\f00d';
}
.sidebar{
    position: fixed;
    width: 14%;
    height: 100%;
    top: 0;
    left: -24%;
    background: #1b1b1b;
    transition: left 0.4s ease;
    overflow: auto;
}
.sidebar.show{
    left: 0px;
}
.sidebar .text{
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}
nav ul{
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}
nav ul li{
    line-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
nav ul li:last-child{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding-left: 20px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
nav ul li.active a{
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
}
nav ul ul{
    position: static;
    display: none;
}
nav ul .trans-show.show{
    display: block;
}
nav ul .homog-show.show1{
    display: block;
}
nav ul .proj-show.show2{
    display: block;
}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}
nav ul ul li a{
    font-size: 11px;
    color: #e6e6e6;
    padding-left: 40px;
}
nav ul li.active ul li a{
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}
nav ul ul li a:hover{
    color: cyan!important;
    background: #1e1e1e!important;
}
nav ul li a span{
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    font-size: 18px;
    transition: transform 0.4s;
}
nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}
#page-body {
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 1%;
}
.hide-below {
    display: none;
}
.demo-sliders{
    display: flex;
    /* width: 700px; */
    width: fit-content;
    height: 250px;
    z-index: 2;
}
/* .slider{
    background: linear-gradient(90deg, rgb(214, 214, 214), 60%, rgb(214, 214, 214), 60%);
    outline: none;
    opacity: 0.7;
} */
.slider{
    appearance: none;
    width: 100%;  
    height: 10px;
    background: linear-gradient(90deg, rgb(214, 214, 214) 60%, rgb(214, 214, 214) 60%);
    outline: none;
    opacity: 0.7;
    transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 1px black;
} 
.slider-mid{
    appearance: none;
    width: 100%;  
    height: 10px;
    background: linear-gradient(90deg, rgb(122, 158, 237) 50%, rgb(214, 214, 214) 60%);
    outline: none;
    opacity: 0.7;
    transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 1px black;
} 
.slider-20{
    appearance: none;
    width: 100%;  
    height: 10px;
    background: linear-gradient(90deg, rgb(122, 158, 237) 20%, rgb(214, 214, 214) 60%);
    outline: none;
    opacity: 0.7;
    transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 1px black;
} 
.slider:hover{
    opacity: 1;
} 
.slider-mid:hover{
    opacity: 1;
} 
.slider-20:hover{
    opacity: 1;
} 
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background:  #664AFF;
    border-radius: 50%;
    cursor: pointer;
} 
.slider-mid::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background:  #664AFF;
    border-radius: 50%;
    cursor: pointer;
} 
.slider-20::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background:  #664AFF;
    border-radius: 50%;
    cursor: pointer;
} 
.value_left{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #664AFF;
    left: -40%;
    top: 17%;
}
.value_left_last{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #664AFF;
}
.value_left_2dAffine{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #664AFF;
    left: 10%;
    top: 100%;
}
.value_left_subspace{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #664AFF;
    left: -20%;
    top: 53%;
}
.value_right_subspace{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #664AFF;
    left: 20%;
    bottom: 10%;
}
.value_right_2dAffine{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #664AFF;
    left: -5%;
    top: 10%;
}
.value_right{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #664AFF;
    left: 30%;
    bottom: 49%;
}
.value_right_last{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #664AFF;
    left: 30%;
    bottom: 17%;
}
#value{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
/* .value{
    margin-top:0px;
    opacity: 0.7;
    line-height: 16px;    /* within paragraph  
    margin-bottom: 0px;   /* between paragraphs 
}  */
@media only screen and (max-width < 1000px){
    .demo-sliders{
        height: 580px;
    }
}
.demo-sliders ul{
    align-items: center;
}
.demo-sliders li {
    display:inline-flex;
}
.slidecontainer {
    margin-top:0px;
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: top;
    text-align:center;
    align-items: left;
    /* width: 100px; */
    width: 100px;
    height: 100px;
    overflow-y:visible;
    z-index: 3;
}
.slidecontainer-subspace {
    margin-top:10px;
    display: inline-block;
    vertical-align: top;
    text-align:center;
    align-items: left;
    /* width: 100px; */
    width: 270px;
    height: 100px;
    overflow-y:visible;
}
#reset-eg-matrices-button{
    margin-top: 30px;
}
.demo-matrices{
    margin-top: 31px;
    /* width: fit-content; */
    width: fit-content;
    height: 200px;
    display: flex;
    justify-content:stretch;
    align-items: center;
    padding: 10px;
    /*background-color: antiquewhite;*/
    border-collapse: separate;
    border-spacing: 5px;

}

input[type="range"] {
    width: 90px;
}

.demo-canvas{
    padding: 0px;
    width: 100%;
    height: auto; /* 600px*/
    align-items: center;
    display: block;
    justify-content: center;
    align-items: center;
    border-collapse: separate;
    border-spacing: 15px;
    border-style: solid;

}

#affine-transform-demo{
    display: none;
}

#projective-geometry-demo{
    display: none;
}

#perspective-projection-demo{
    display: none;
}

#subspace-equivalence p{
    display: inline;
}

/*
#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 14%;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
#sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
#sidebar li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
#sidebar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}